/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  font-size: 1.25rem;
  box-sizing: border-box;
  border: none;
}

*::-webkit-scrollbar {
  display: none;
}

*:focus {
  outline: none;
}

body {
  min-height: 100vh;
  display: flex;
}

button {
  border: none;
  background-color: #ffffff00;
  border-radius: 0.1875rem;
  padding-inline: 1rem;
  padding-block: .5rem;
  text-align: left;
  cursor: pointer;
  transition: 150ms;
}

input {
  color: rgb(44, 44, 44);
  /* font-size: 1rem; */
  padding: .25rem;
  width: 100%;
}

button.selected {
  background-color: #454545;
}

button:hover {
  padding-left: 1.15rem;
  background-color: #454545;
}

h2 {
  font-size: 1.875rem;
}

/* content */

#content {
  min-width: 100%;
  display: flex;
}

/* navbar */

.navbar {
  background-color: #393939;
  min-width: 24.47%;
  align-items: center;
  gap: 2.625rem;
  padding-block: 2.625rem;
}

.navbar, 
.navbar .categories,
.navbar .projects,
.navbar .projects div {
  display: flex;
}

.navbar,
.navbar .categories,
.navbar .projects,
.navbar .projects div {
  flex-direction: column;
}

.navbar section div {
  gap: 1.4375rem;
}

.navbar button {
  display: flex;
  align-items: center;
}

.navbar button:hover {
  background-color: #4F4F4F;
}

.navbar button i {
  display: none;
  transition: 150ms;
}

.navbar button:hover i{
  display: block;
  margin-left: auto;
  font-size: 1rem;
  color: rgb(253, 80, 80);
}

.navbar button.add {
  position: relative;
  transition: none;
}

.navbar button.add.activated {
  padding-inline: 0;
  min-height: 50px;
}

.navbar button.add.activated:hover {
  background-color: #ffffff00;
}

.navbar button.add.activated span {
  display: none;
}

.navbar button.add form {
  display: none;
}

.navbar button.add.activated form {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: .25rem;
}

.navbar button.add input {
  width: 90%;
  border-radius: 50rem;
}

.navbar button.add .confirmation {
  border-radius: 50rem;
  background-color: #0066FF;
  /* min-height: 34px; */
  min-width: 40px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar section {
  width: 80%;
}

/* main */

.main,
.main section {
  display: flex;
}

.main section {
  flex-direction: column;
}

.main {
  background-color: #2C2B2B;
  min-width: 75.53%;
  justify-content: center;
}

.main section {
  width: min(70%);
  padding-block: 8%;
  gap: 2rem;
}

.main section .task {
  display: flex;
  align-items: center;
  border-radius: 0.1875rem;
  cursor: pointer;
  gap: .5rem;
  padding-inline: 1rem;
  padding-block: .5rem;
  transition: 150ms;
}

.main section .task:hover {
  background-color: #454545;
  transform: translateY(-.25rem);
}

.main section .task .date {
  margin-left: auto;
  position: relative;
}

.main section .task .date input {
  display: none;
}

.main section .task .date.revealed span {
  display: none;
}

.main section .task .date.revealed input {
  display: flex;
  min-width: none;width: 10rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  font-size: 1rem;
  border-radius: 50rem;
  padding: .25rem;
}

.main section button.add {
  position: relative;
  transition: none;
}

.main section button.add.activated {
  padding-inline: 0;
  min-height: 50px;
}

.main section button.add.activated:hover {
  background-color: #ffffff00;
}

.main section button.add.activated span {
  display: none;
}

.main section button.add form {
  display: none;
}

.main section button.add.activated form {
  position: absolute;
  min-width: 100%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: .25rem;
}

.main section button.add input {
  width: 100%;
  border-radius: 50rem;
}

.main section button.add .confirmation {
  border-radius: 50rem;
  background-color: #0066FF;
  /* min-height: 34px; */
  min-width: 40px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}