/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  font-size: 1.25rem;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
}

button {
  border: none;
  background-color: #ffffff00;
  border-radius: 0.1875rem;
  padding-inline: 1rem;
  padding-block: .5rem;
  text-align: left;
  cursor: pointer;
  transition: 150ms;
}

button:hover {
  padding-left: 1.15rem;
  background-color: #454545;
}

h2 {
  font-size: 1.875rem;
}

/* content */

#content {
  min-width: 100%;
  display: flex;
}

/* navbar */

.navbar {
  background-color: #393939;
  min-width: 24.47%;
  align-items: center;
  gap: 2.625rem;
  padding-block: 2.625rem;
}

.navbar, 
.navbar .categories,
.navbar .projects,
.navbar .projects div {
  display: flex;
}

.navbar,
.navbar .categories,
.navbar .projects,
.navbar .projects div {
  flex-direction: column;
}

.navbar section div {
  gap: 1.4375rem;
}

.navbar button:hover {
  background-color: #4F4F4F;
}

.navbar section {
  width: 80%;
}

/* main */

.main,
.main section {
  display: flex;
}

.main section {
  flex-direction: column;
}

.main {
  background-color: #2C2B2B;
  min-width: 75.53%;
  justify-content: center;
}

.main section {
  width: min(70%);
  padding-block: 8%;
  gap: 2rem;
}